 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Best Paper Award!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                 <b>Mathias Ciliberto, Luis A Ponce Cuspinera and Daniel Roggen, 
                 "WLCSSLearn: Learning Algorithm for Template Matching-based Gesture Recognition Systems"</b>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Best Paper Runner-up</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                 <b>Nattaya Mairittha and Sozo Inoue,
                  "Crowdsourcing System Management for Activity Data with Mobile Sensors"</b>
             </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Welcome to ABC2019!</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  {% for text in site.about %}
                  <p>{{text.text}}</p>
                  {% endfor %}
                </div>
                <!--div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div-->
            </div>
        </div>
    </section>
