 <!-- About Section -->
    <section class="success" id="cfp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Call for Papers</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  {% for text in site.cfp.text %}
                  <p>{{text.text}}</p>
                  {% endfor %}

                <div class="col-lg-12">
                  <h3>Scope</h3>
                  <ul>
                  {% for scope in site.cfp.scope %}
                  <li>{{scope.item}}</li>
                  {% endfor %}
                  </ul>
                </div>

                <div class="col-lg-12">
                  <h3>Format</h3>
                  <ul>
                  {% for format in site.cfp.format %}
                  <li>{{format.item}}</li>
                  {% endfor %}
                  </ul>
                </div>

                <div class="col-lg-12">
                  <h3>Important dates</h3>
                  <table>
                  {% for date in site.cfp.dates %}
                  <tr>
                    <td><p>{{date.name}}</p></td><td><p>&nbsp; : &nbsp;</p></td><td><p>{{date.date}}</p></td>
                  </tr>
                  {% endfor %}
                  </table>

                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="{{ site.cfp.template_url }}" class="btn btn-lg btn-outline"/>
                        <i class="fa fa-download"></i> Template </a>
                    <a href="{{ site.cfp.submit_url }}" class="btn btn-lg btn-outline"/>
                        <i class="fa fa-upload"></i> Submit </a>
                </div>

            </div>
        </div>
    </section>
