 <!-- About Section -->
    <section class="success" id="cfp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Call for Papers</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <h3>TBD</h3>
                    quality of papers
                    <p>important dates:</p>
                </div>
                <div class="col-lg-4">
                    <p>IEEE conference format</p>
                    <p>2-6 pages</p>
                    <p>IEEE or not or usb only</p>
                    <p>Deadine: </p>
                </div>
            </div>
        </div>
    </section>
