    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <hr class="star-light">
                        <span><p>{{ site.conf_title1 }}</span></p>
                        <p><span class="skills"><b>{{ site.conf_title2 }}</b></span></p>
                        <span><p>{{ site.date }}, {{ site.location }}</p></span>

                    </div>
                </div>
            </div>
        </div>
    </header>
