 <!-- About Section -->
    <section class="success" id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Program</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
              <p>You can see the full program from 
               <a href="http://cennser.org/ICIEV19/program.pdf">
                <b style="color:pink">HERE</b></a>.
              </p>
              
              <div class="row">
                {% for date in site.program %}
                  <h4>{{ date.date}}</h4>
                  {% for session in date.session %}
                    <h3>{{ session.name }}, {{session.time}}</h3>
                    {% for paper in session.paper %}
                      <p><b>{{ paper.title }}</b>, <i>{{paper.authors}}</i></p>
                    {% endfor %}
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
        </div>
    </section>
