 <!-- About Section -->
    <section class="success" id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Program Outline</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                 <table>
                  <th><td>May 30</td><td>May 31</td><td>Jun 1</td><td>Jun 2</td></th>
                  <tr><td></td><td></td><td></td><td></td></tr>
                 </table>
                </div>
            </div>
        </div>
    </section>
